
@{
    ViewBag.Title = "Give";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Give To All</h2>
<div class="row">
    <div class="col-lg-6">
        <a class="btn btn-default" href=""> @Html.ActionLink("Donate", "Donate", "Donate") </a>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-default" href=""> @Html.ActionLink("Participate", "Participate", "Participate") </a>
    </div>

</div>
